*.log
.metadata
*.lock
venv/
test_nohup.py
models/
native/
spark/checkpoints/
verification
.vscode
backend/__pycache__/
.env
hmi/scada_hmi_flooter/ios
hmi/scada_hmi_flooter/android
hmi/scada_hmi_flooter/linux
hmi/scada_hmi_flooter/macos
hmi/scada_hmi_flooter/build
hmi/scada_hmi_flooter/web
hmi/scada_hmi_flooter/windows
hmi/scada_hmi_flooter/firebase.json
hmi/scada_hmi_flooter/.dart_tool
hmi/scada_hmi_flooter/.flutter-plugins-dependencies
hmi/scada_hmi_flooter/.metadata
logs/
firebase-adminsdk.json